* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3da5d9;
  color: #FFFFFF;
  font-family: Tahoma, sans-serif;
  font-size: large;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  min-width: 215px;
  max-width: 36rem;
  margin: 5% auto;
}

.heading {
  color: white;
  margin: 1rem 0;
}

.highlight {
  color: #fec601;
}

.divider {
  color: #2364aa;
}

.password-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #2364aa;
  color: #fec601;
  margin: 2rem 0;
  padding: 1rem;
  align-self: center;
  justify-content: center;
  align-content: center;
  min-width: 12rem;
  max-width: 14rem;
  overflow-wrap: anywhere;
}

#generated-password {
  font-family: monospace;
  align-self: center;
  letter-spacing: .125rem;
  min-height: 1.2rem;
  line-height: 1.2rem;
}

.tooltip {
  position: absolute;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#password-options {
  display: none;
}

#passphrase-options {
  display: initial;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.type-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: .5rem 0;
}

label {
  margin-right: 1rem;
}

.invalid {
  color: #ea7317;
  display: none;
  margin-right: .5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  width: 2rem;
  text-align: end;
}

input[type="checkbox"] {
  accent-color: #2364aa;
}

input[type="text"] {
  width: 2rem;
  text-align: end;
}

.input {
  color: #FFFFFF;
  background-color: #2364aa;
  border: none;
  border-bottom: solid 2px #2364aa;
  font-size: 1rem;
  padding-right: .3rem;
}

.btn {
  width: fit-content;
  padding: .6rem .9rem;
  font-size: 1rem;
  border-radius: .3rem;
  background-color: #fec601;
  color: #FFFFFF;
  border: none;
  margin-top: 1rem;
  align-self: center;
}

.btn:disabled {
  background-color: #D5D4D8;
}